/**
 * Avenir
 */
@font-face {
    font-family: "Avenir-Heavy";
    src: url("../../fonts/Avenir-Heavy.eot");
    src: url("../../fonts/Avenir-Heavy.woff") format("woff"), url("../../fonts/Avenir-Heavy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir-Black";
    src: url("../../fonts/Avenir-Black.eot");
    src: url("../../fonts/Avenir-Black.woff") format("woff"), url("../../fonts/Avenir-Black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir-Medium";
    src: url("../../fonts/Avenir-Medium.eot");
    src: url("../../fonts/Avenir-Medium.woff") format("woff"), url("../../fonts/Avenir-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir-Book";
    src: url("../../fonts/Avenir-Book.eot");
    src: url("../../fonts/Avenir-Book.woff") format("woff"), url("../../fonts/Avenir-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir-LightOblique";
    src: url("../../fonts/Avenir-LightOblique.eot");
    src: url("../../fonts/Avenir-LightOblique.woff") format("woff"), url("../../fonts/Avenir-LightOblique.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


/**
 * Open Sans
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');